<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InstagramOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D258A0281C45B8840011C1CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D258A0321C45B8840011C1CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E06E1C7299050050A122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E0771C7299050050A122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E0991C729E900050A122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E0A91C729FFB0050A122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E0B21C729FFB0050A122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
